<h3>Create an Article</h3>

<% if @article.errors.any? || true %>
  <% @article.errors.full_messages.each do |error| %>
    <h2> <%= error %> </h2>
  <% end %>
<% end %>


<%= form_with(model: @article) do |form| %>
  <%= form.text_field :title, placeholder: "title" %>
  <%= form.text_field :description, placeholder: "description" %>
  <%= form.submit %>
<% end %>

